body {
	font-family: "Roboto", sans-serif;
	box-sizing: border-box;
	height: 100vh;
}
.container {
	display: grid;
	grid-template-columns: 1fr 3fr 3fr 1fr;
	grid-template-rows: 1fr;
	height: 100vh;
}
.left-side-panel {
	background-color: #fbf7f4;
	display: grid;
	gap: 20px;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(12, 1fr);
}
.logo {
	width: 100%;
	grid-row: 1/3;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.logo p {
	margin-top: 15px;
	font-size: 1.5rem;
	font-weight: 800;
}
.logo img {
	width: 40px;
}
.menu {
	grid-row: 3/8;
	height: 65%;
	align-self: start;
}
.menu ul {
	box-sizing: border-box;
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	padding: 0 1.5rem;
}
.menu li {
	box-sizing: border-box;
	width: 100%;
	font-size: 1.2em;
	padding: 15px;
	display: flex;
	align-items: center;
	font-weight: 500;
	transition: all 0.17s ease-in-out;
}
.menu li:hover {
	background-color: #eee6e2;
	cursor: pointer;
	border-radius: 10px;
}
.menu-icon {
	width: 30px;
	margin-right: 20px;
}
.logout {
	grid-row: 10/12;
	display: flex;
	justify-content: center;
	align-self: end;
}
.logout img {
	width: 35px;
	margin-right: 20px;
}
.logout li {
	display: flex;
	align-items: center;
	font-size: 1rem;
	font-weight: 500;
	width: 0.8fr;
	padding: 15px;
}
.logout li:hover {
	cursor: pointer;
}
.main-panel {
	display: grid;
	grid-gap: 20px;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: repeat(12, 1fr);
	padding: 0 2rem;
}

.heading-section {
	grid-column: 1/3;
	grid-row: 1/3;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.heading {
	font-size: 1.5rem;
	font-weight: 500;
	color: #4d4d4d;
	margin: 20px 0;
}
.sub-heading {
	color: rgb(120, 120, 120);
	font-size: 1rem;
}
.heading-section img {
	height: 50px;
}
.heading-section img:hover {
	cursor: pointer;
}
.meeting {
	grid-column: 1/3;
	grid-row: 3/5;
	display: flex;
	flex-direction: column;
	align-self: center;
}
.meeting .meeting-title {
	font-size: 1.6rem;
	font-weight: 600;
	color: rgb(29, 29, 29);
	margin-bottom: 15px;
}
.meeting .meeting-subtitle {
	color: rgb(47, 47, 47);
	margin-bottom: 10px;
}

.card {
	grid-column: 1/3;
	grid-row: 5/8;
	box-shadow: 9px 7px 37px -30px rgba(0, 0, 0, 0.75);
	-webkit-box-shadow: 9px 7px 37px -30px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 9px 7px 37px -30px rgba(0, 0, 0, 0.75);
	display: grid;
	grid-template-rows: repeat(5, 1fr);
	padding: 10px 20px;
	border-radius: 10px;
    border:1px solid rgba(128, 128, 128, 0.344);
}
.card-heading {
	font-size: 1.6em;
	align-self: center;
	grid-row: 1/2;
}
.card-subheading {
	font-size: 1rem;
	align-self: center;
	grid-row: 2/3;
}
.card-button {
	grid-row: 4/6;
	text-decoration: none;
	border: 1.4px solid black;
	width: 130px;
	height: 50px;
	align-self: center;
	text-transform: uppercase;
	font-weight: 600;
	transition: all 0.2s ease-out;
    border-radius: 3px;
}
.card-button:hover {
	cursor: pointer;
    background-color:#4d4d4d;
    color:white;
}
.card-vertical {
	grid-column: 1/2;
	grid-row: 8/12;
}
.sub-text {
	display: flex;
	align-items: center;
	grid-row: 2/3;
	align-self: start;
	font-size: 1rem;
}
.sub-text img {
	height: 20px;
	margin-right: 10px;
}
.card3 {
	grid-column: 2/3;
	grid-row: 8/12;
}
.card1 {
	/* background-image: url("icons/report.jpg");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: right; */
}
